.main-layout {
    display: flex;
    flex-direction: column; /* Вертикальное расположение контента */
    min-height: 100vh; /* Занимает всю высоту экрана */
    width: 100%; /* Занимает всю ширину экрана */
}

.main-layout-content {
    flex: 1; /* Растягивает содержимое на всё доступное место */
}
